.wrap {
    div {
        .list {
            li {
                width: 100px;
                height: 80px;
                img {
                    width: 100px;
                    height: 80px;
                    box-sizing: border-box;
                }
                &.on {
                    outline: 3px solid red;
                }
            }
        }
    }
}
